blinker==1.9.0; python_version >= "3.9"
click==8.3.0; python_version >= "3.10"
dnspython==2.8.0; python_version >= "3.10"
dominate==2.9.1; python_version >= "3.4"
flask==3.1.2; python_version >= "3.9"
flask-admin==1.6.1; python_version >= "3.6"
flask-bootstrap==3.3.7.1
flask-cache==0.13.1
flask-flatpages==0.8.3; python_version >= "2.7" and python_version not in "3.0, 3.1, 3.2, 3.3, 3.4, 3.5, 3.6"
flask-gravatar==0.5.0
flask-login==0.6.3; python_version >= "3.7"
flask-mail==0.10.0; python_version >= "3.8"
flask-pymongo==3.0.1; python_version >= "3.9"
flask-restless==0.17.0
flask-sqlalchemy==3.1.1; python_version >= "3.8"
flask-themes==0.1.3
flask-uploads==0.2.1
flask-wtf==1.2.2; python_version >= "3.9"
greenlet==3.2.4; python_version >= "3.9"
itsdangerous==2.2.0; python_version >= "3.8"
jinja2==3.1.6; python_version >= "3.7"
markdown==3.9; python_version >= "3.9"
markupsafe==3.0.3; python_version >= "3.9"
mimerender==0.6.0
pymongo==4.15.3; python_version >= "3.9"
python-dateutil==2.9.0.post0; python_version >= "2.7" and python_version not in "3.0, 3.1, 3.2"
python-mimeparse==2.0.0; python_version >= "3.8"
pyyaml==6.0.3; python_version >= "3.8"
six==1.17.0; python_version >= "2.7" and python_version not in "3.0, 3.1, 3.2"
sqlalchemy==2.0.43; python_version >= "3.7"
typing-extensions==4.15.0; python_version >= "3.9"
visitor==0.1.3
werkzeug==3.1.3; python_version >= "3.9"
wtforms==3.2.1; python_version >= "3.9"
