{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block app_content %}
    <div class="row">
        {# Centraliza o conteúdo principal em 10 colunas #}
        <div class="col-md-10 col-md-offset-1">
            
            <div class="panel panel-primary">
                <div class="panel-heading text-center">
                    <i class="fa fa-book fa-lg" aria-hidden="true"></i> Prontuário da Consulta
                </div>
                <div class="panel-body">
                    
                    {# Detalhes da Consulta #}
                    <div class="row">
                        <div class="col-md-12">
                            <p class="lead">
                                <i class="fa fa-user-o" aria-hidden="true"></i> Paciente: <strong>{{ consulta.paciente.name }}</strong>
                            </p>
                            <p>
                                <i class="fa fa-calendar-check-o" aria-hidden="true"></i> Data da Consulta: {{ consulta.data_hora.strftime('%d/%m/%Y às %H:%M') }}
                            </p>
                            <hr>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <h4 class="text-center"><i class="fa fa-wpforms" aria-hidden="true"></i> Histórico de Evoluções</h4>
                            
                            {# Formulário para Nova Evolução #}
                            <div class="panel panel-info"> 
                                <div class="panel-heading">
                                    Adicionar Nova Evolução
                                </div>
                                <div class="panel-body">
                                    {{ wtf.quick_form(evolucao_form) }}
                                </div>
                            </div>

                            {# Histórico Existente #}
                            {% if evolucoes %}
                                {% for evolucao in evolucoes %}
                                <div class="panel panel-info"> 
                                    <div class="panel-heading">
                                        Registrada em {{ evolucao.data_criacao.strftime('%d/%m/%Y %H:%M') }} por <strong>Dr(a). {{ evolucao.medico.name }}</strong>
                                    </div>
                                    <div class="panel-body">
                                        {{ evolucao.conteudo | nl2br }} {# nl2br preserva as quebras de linha #}
                                    </div>
                                </div>
                                {% endfor %}
                            {% else %}
                                <div class="alert alert-info">
                                    Nenhuma evolução registrada para esta consulta ainda.
                                </div>
                            {% endif %}
                        </div>

                        <div class="col-md-6">
                            <h4 class="text-center"><i class="fa fa-flask" aria-hidden="true"></i> Histórico de Receitas (Prescrições)</h4>
                            
                            {# Formulário para Nova Receita #}
                            <div class="panel panel-info">
                                <div class="panel-heading">
                                    Adicionar Nova Receita
                                </div>
                                <div class="panel-body">
                                    {{ wtf.quick_form(prescription_form) }}
                                </div>
                            </div>
                            
                            {# Histórico Existente #}
                            {% if receitas %}
                                {% for receita in receitas %}
                                <div class="panel panel-info"> 
                                    <div class="panel-heading">
                                        Receita registrada em {{ receita.timestamp.strftime('%d/%m/%Y %H:%M') }}
                                    </div>
                                    <div class="panel-body">
                                        {{ receita.descricao | nl2br }}
                                    </div>
                                </div>
                                {% endfor %}
                            {% else %}
                                <div class="alert alert-info">
                                    Nenhuma receita registrada para esta consulta ainda.
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                
                <div class="panel-footer text-center">
                    <a href="{{ url_for('minhas_consultas') }}" class="btn btn-default btn-lg">
                        <i class="fa fa-arrow-circle-left" aria-hidden="true"></i> Voltar para Minha Agenda
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}