{% extends "base.html" %}

{% block app_content %}
<div class="jumbotron">
    <h1>Bem-vindo ao MedEasy!</h1>
    <p>O seu sistema de gerenciamento de saúde, simplificado.</p>
    {% if not g.user.is_authenticated %}
    <p>
      <a class="btn btn-primary btn-large" href="{{ url_for('login') }}">
         Entrar
      </a>
      &nbsp;
      <a class="btn btn-default btn-large" href="{{ url_for('register_choice') }}">
        Cadastre-se
     </a>
    </p>
    {% endif %}
  </div>
{% endblock %}